POSTGRES_PASSWORD=YOUR POSTGRES PASSWORD
POSTGRES_USER=YOUR POSTGRES USERNAME
POSTGRES_DB=YOUR POSTGRES DATABASE NAME
POSTGRES_SERVER=database
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=YOUR RABBIT USERNAME
RABBITMQ_DEFAULT_PASS=YOUR RABBIT PASSWORD